/* some style */

#tv { border: 1px solid gray;}
.heading {
  font-size: 26px;
  color: hsl(180, 90%, 20%);
}
.fullwidth {
  width: 100%;
  float: left;
  clear: left;
}

.fbfb {
  background-color: blue;
}
.gogo {
  background-color: yellow;
}
.nfnf {
  background-color: teal;
}
.tile {
  width: auto;
  height: auto;
  max-height: 180px;
  font-size: 22px;
  overflow-y: scroll;
  border: 1px solid blue;
}

#postinput {
  border: 1px solid orange;
}

#postcommentinput {
  border: 1px solid lightblue;
}
